@font-face {
  font-family: "Noto Sans Symbols";
  font-style: normal;
  src: url("../fonts/NotoSansSymbols-VariableFont_wght.woff2");
}

:root {
  /* Colors */
  --c-beet: #624E88;
  --c-cream: #E6D9A2;
  --c-darkness: #0C1844;
  --c-guava: #CB80AB;
  --c-grape: #8967B3;
  --c-light-cream: #FBF9F1;
  --c-light-purple: #F5EFFF;

  /* Fonts */
  --f-family: "Noto Sans Symbols", sans-serif;

  /* Spacing */
  --s-xs: 0.4rem; 
  --s-s: 0.8rem;
  --s-m: 1rem;
  --s-l: 1.5rem;
  --s-xl: 2.5rem;  

  /* Border-radius */
  --border-radius-m: 10px;
  --border-radius-s: 5px; 
}

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  background-color: var(--c-light-cream);
  background-image: url(../images/stardust.png);
  color: var(--c-darkness);
  font-family: var(--f-family);
  height: 100vh;
  line-height: 1.5;
}


/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: var(--c-guava);
}

h1 {
  color: var(--c-darkness);
  font-weight: 700;
  margin: var(--s-l);
  text-align: center;
}

.container {
 margin: 10rem auto;
 max-width: 600px;
}

form {
  align-items: center;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.6);
  background-color: var(--c-darkness);
  border-radius: var(--border-radius-m);
  display: flex;
  padding: var(--s-xl);
}

footer {
  bottom: 0;
  left: 50%;
  margin: var(--s-l);
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

#prompt {
  border: 1px solid var(--c-guava);
  border-radius: 50px;
  color: var(--c-darkness);
  height: 30px;
  line-height: 1rem;
  padding: var(--s-m);
  width: 80%;
}


#submit {
  background-color:  var(--c-guava);
  border: none;
  border-radius: 50px;
  color: white;
  padding: var(--s-xs);
  margin-left: var(--s-s) ;
  width: 150px;
}

.poem {
  background-color: var(--c-guava);
  border-left: 2px solid var(--c-darkness);
  color: white;
  font-size: 1.2rem;
  line-height: 2;
  margin: var(--s-l);
  text-align: center;
  
}

